.Cards{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    justify-content: space-evenly;
    background-image: url('https://img.freepik.com/premium-photo/attractive-woman-with-shop-bags-yellow-background_185193-69051.jpg?w=2000');
}

.card{
    width: 18rem;
    margin: 10px;
    
    
}
img{
    width: 18rem;
    height: 23rem;
}
p{
    font-size: 20px;
    font-weight: 700;
    
}
.cardrating{
    color: rgb(237, 213, 72);
}
.cardbutton{
    color: white;
    margin-bottom: 10px;
}
h5{
    margin: 20px;
}