.Cards{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    justify-content: space-evenly;
    background-image: url('https://img.freepik.com/premium-photo/attractive-woman-with-shop-bags-yellow-background_185193-69051.jpg?w=2000');
}

.card{
    width: 18rem;
    margin: 10px;
    
}
img{
    width: 18rem;
    height: 23rem;
}
p{
    font-size: 20px;
    font-weight: 700;
    
}
.cardrating{
    color: rgb(237, 213, 72);
}
.cardbutton{
    background-color: #5094e8; /* Green */
      border: none;
      color: white;
      padding: 12px 40px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 17px;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer;
      border-radius: 10px;
      font-weight: 500;
    
 }
.cardbutton:hover{
        background-color: rgb(235, 180, 63);
        color: white;
}
h5{
    margin: 20px;
}