.header{
    text-align: center;
    height: 90px;
    padding: 10px;
    font-size: 18px;
}
.navbar-head{
    font-weight: 800;
    font-size: 30px;
    margin: 10px;
}
a:link{
    font-size: 20px;
    font-weight: 500;
  color: whitesmoke;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
